header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3%;
  width: 7vw;
  p {
    color: #23282f;
    font-size: 1rem;
    font-style: normal;
  }
}
main {
  margin-top: 1vh;
  width: 70%;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.letreiro {
  height: 15vh;
  width: 70%;
  display: flex;
  flex-direction: column;
  h1 {
    font-size: 1.6rem;
  }
  p {
    margin-left: 1rem;
  }
}

.letreiro2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 6px;
  border: 0.8px solid #cbd4e1;
  margin: 1rem;
  width: 290px;
  height: 210px;
}

.cards img {
  margin-top: 5rem;
  max-width: 100%;
  max-height: 150px;
  margin-bottom: 1rem;
}
.cards:hover {
  border: 0.8px solid #001a3d;
}
.cards:focus {
  border: 0.8px solid #001a3d;
  box-shadow: 0 0 0 0.3rem #cbd4c1;
}
.status {
  padding: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
  width: 90%;
  border-radius: 6px;
  border: 1px solid #23282f;
  height: 100px;
}

.btnsolicitados,
.btnaprovados,
.btnrejeitados,
.btnemanalise {
  width: 36px;
  height: 36px;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;

  img {
    width: 50%;
    height: 50%;
  }
}

.btnsolicitados {
  background-color: #00bedd;
}

.btnaprovados {
  background-color: #e56700;
}

.btnrejeitados {
  background-color: #007a6a;
}

.btnemanalise {
  background-color: #a60b2f;
}

.status span {
  font-weight: 700;
}

.status p {
  margin: 0;
}
