.cadastro {
  display: flex;
  padding-top: 5vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  gap: 1rem;
  font-size: 12px;
}

label {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 8px;
}
input {
  width: 100px;
  height: 30px;
  padding: 5px;
}
.botao {
  width: 10vw;
  height: 3rem;
  gap: 5px;
}
