.informacao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
}

h1 {
  width: 19vw;
  text-align: center;
  align-items: center;
  font-size: 2.3em;
  font-weight: 700;
  color: #23282f;
  justify-content: center;
  align-items: center;
}
p {
  font-size: 0.9em;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  color: #0844c4;
}
.botao {
  width: 10vw;
  height: 3rem;
  gap: 5px;
}
