.Envolve {
  display: flex;
  flex-direction: column;
  width: 90vw;
}

header {
  display: flex;
  height: 5vh;
  p {
    color: #23282f;
    font-size: 1rem;
    font-style: normal;
  }
}

.containerMain {
  display: flex;
  margin-top: 2vh;
  width: 90vw;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.containerFormulario {
  display: grid;
  grid-template-columns: 1fr 1fr 1f;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "esq m dir"
    "esqInf m dirInf";
  gap: 0.4vw;
  font-weight: 700;
}

.containerEsq {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  grid-template-areas:
    "item1 item2 item3"
    "myArea myArea myArea";
  gap: 1vh;
}
#item4 {
  grid-area: myArea;
}

.containerMeio {
  height: 20vh;
  width: 0.1em;
  background-color: silver;
}

.containerDir {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-area: "item5 item6 item7";
  gap: 1vh;
  height: 10vh;
}

.containerDirInf {
  grid-area: dirInf;
  display: grid;
  height: 10vh;
  grid-template-columns: repeat(10, 1fr);
  grid-area: "item8 item9 item10 item11 item12 item13 item14 item15 item 16 item17";
}

.containerEsq > div,
.containerDir > div {
  color: #000;
  text-align: center;
}
.containerDirInf > div {
  width: 3.5rem;
}

.caixa {
  text-align: center;
  flex-direction: column;
  font-size: 0.8em;
}

.btnform {
  padding-left: 6vw;
  display: flex;
  align-items: center;
  gap: 0.2vw;
}

.btnform1 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  width: 4vw;
  height: 6vh;
  background-color: #23282f;
  color: white;
  cursor: pointer;
}

.btnform2 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  width: 2.2vw;
  height: 6vh;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 2vh;
  background-color: #0844c4;
}

.btn {
  height: 3vh;
}
//* tabela

.informacao {
  padding-top: 10vh;
  flex-direction: column;
  border-radius: 6px;
  margin-top: 2vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.icone {
  width: 0.8rem;
  height: 0.8rem;
}

table {
  border-collapse: collapse;
  font-size: 0.8rem;
  width: 100%; /* Largura total da tabela */
}

th {
  background-color: #f1f1f1;
  padding: 10px; /* Ajustado o padding */
  text-align: left; /* Alinhar o texto à esquerda por padrão */
}

td {
  border: 1px solid #23282f;
  padding: 5px; /* Ajustado o padding */
  text-align: center;
  word-break: keep-all;
}

.containerRodape {
  padding-top: 10vh;
  padding-left: 25vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-area: "item18 item19 item20 item21";
  gap: 1vh;
}
.btnform3 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  width: 15vw;
  height: 5vh;
  align-items: center;
  justify-content: center;
  background-color: #23282f;
}

.btnform4 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  width: 15vw;
  height: 5vh;
  align-items: center;
  justify-content: center;
  background-color: #a60b2f;
}
