.Envolve {
  display: flex;
  flex-direction: column;
  width: 90vw;
}

header {
  display: flex;
  height: 5vh;
  p {
    color: #23282f;
    font-size: 1rem;
    font-style: normal;
  }
}

.containerMain {
  display: flex;
  margin-top: 2vh;
  width: 90vw;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.containerFormulario {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "esq dir"
    "esqInf dirInf";
  gap: 0.6vw;
}

.containerEsq {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  grid-template-areas:
    "item1 item2 item3"
    "myArea myArea myArea";
  gap: 1vh;
}
#item4 {
  grid-area: myArea;
}
.containerDir {
  grid-area: dir;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-area: "item5 item6 item7";
  gap: 1vh;
}

.containerDirInf {
  grid-area: dirInf;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-area: "item8 item9 item10 item11 item12 item13 item14 item15";
  gap: 1vh;
}

.containerEsq > div,
.containerDir > div {
  color: #000;
  text-align: center;
}
.containerDirInf > div {
  width: 3.5rem;
}

.caixa {
  text-align: center;
  flex-direction: column;
  font-size: 0.8em;
}
//* tabela

.informacao {
  flex-direction: column;
  border-radius: 6px;
  margin-top: 2vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.icone {
  width: 0.8rem;
  height: 0.8rem;
}

table {
  border-collapse: collapse;
  font-size: 0.8rem;
  width: 100%; /* Largura total da tabela */
}

th {
  background-color: #f1f1f1;
  padding: 10px; /* Ajustado o padding */
  text-align: left; /* Alinhar o texto à esquerda por padrão */
}

td {
  border: 1px solid #23282f;
  padding: 5px; /* Ajustado o padding */
  text-align: left;
  word-break: keep-all;
}
